.slide-three {
    display: flex;
    flex-direction: column;
    position: relative;

    background-image: url("../images/slide-three/bg3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-block-start: 164px;

    overflow: hidden;
}

.slide-three__bottle-img {
    width: 100%;
    max-width: 233px;
    min-height: 688px;

    position: absolute;
    bottom: 0;
    left: 50px;
    z-index: 9;
}

.slide-three__title {
    width: 100%;
    max-width: 348px;

    font-family: 'dinpro_light', Arial, sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 2.2px;

    margin-block-end: 12px;
    margin-inline-start: 353px;
}

.slide-three__subtitle {
    width: 100%;
    max-width: max-content;

    font-family: 'Gilroy-Regular', Arial, sans-serif;
    font-size: 96px;
    text-transform: uppercase;
    letter-spacing: 9px;

    margin-inline-start: 353px;
    margin-block-end: 60px;
}

.slide-three__subtitle_bold {
    font-family: 'Gilroy-ExtraBold', Arial, sans-serif;
}

.slide-three__windows {
    width: 100%;
    max-width: 710px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    margin-inline-start: 234px;
}

.slide-three__window {
    width: 100%;

    position: relative;

    background-color: #FFF;
    border-radius: 40px;

    box-shadow: -33px -27px 50px -13px rgba(31, 126, 169, 0.13),
    27px 33px 50px -13px rgba(31, 126, 169, 0.13);
}

.slide-three__window_size_m {
    max-width: 407px;
    min-height: 267px;

    padding-block-start: 50px;
    padding-inline-start: 118px;
}

.slide-three__window_size_s {
    max-width: 265px;
    min-height: 150px;

    padding-block-start: 50px;
    padding-inline-start: 44px;
}

.slide-three__window-icon {
    width: 100%;
    max-width: 69px;

    position: absolute;
}

.slide-three__window-icon_type_plates {
    top: -31px;
    right: 222px;
}

.slide-three__window-icon_type_calendar {
    top: -22px;
    right: 153px;
}

.slide-three__text {
    width: 100%;
    max-width: 236px;

    font-family: 'dinpro_light', Arial, sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
    line-height: 1.2;
}

.slide-three__button {
    width: 100%;
    max-width: 263px;

    position: absolute;
    right: 80px;
    bottom: 118px;

    display: block;
}

.slide-three__button-img {
    width: 100%;
}

.slide-two__bbl-bg-1-img {
    width: 100%;
    max-width: 36px;

    position: absolute;
    top: 214px;
    left: 77px;
    z-index: 5;

    animation: 8s linear infinite bbl-bg-1-move;
}

.slide-two__bbl-bg-2-img {
    width: 100%;
    max-width: 112px;

    position: absolute;
    top: 318px;
    left: 197px;
    z-index: 5;

    animation: 10s linear infinite bbl-bg-2-move;
}

.slide-two__bbl-bg-3-img {
    width: 100%;
    max-width: 39px;

    position: absolute;
    top: 67px;
    left: 197px;
    z-index: 5;

    animation: 8s linear infinite bbl-bg-3-move;
}

.slide-two__bbl-bg-4-img {
    width: 100%;
    max-width: 56px;

    position: absolute;
    bottom: 119px;
    left: 250px;
    z-index: 5;

    animation: 20s linear infinite bbl-bg-4-move;
}

.slide-two__bbl-fr-1-img {
    width: 100%;
    max-width: 33px;

    position: absolute;
    top: 455px;
    left: 10px;
    z-index: 10;

    animation: 10s linear infinite bbl-fr-1-move;
}

.slide-two__bbl-fr-2-img {
    width: 100%;
    max-width: 138px;

    position: absolute;
    bottom: -70px;
    left: 186px;
    z-index: 10;

    animation: 10s linear infinite bbl-fr-2-move;
}

.slide-two__bbl-fr-3-img {
    width: 100%;
    max-width: 70px;

    position: absolute;
    top: 156px;
    left: 185px;
    z-index: 10;

    animation: 8s linear infinite bbl-fr-3-move;
}

.slide-two__bbl-fr-4-img {
    width: 100%;
    max-width: 74px;

    position: absolute;
    bottom: 140px;
    left: 25px;
    z-index: 10;

    animation: 5s linear infinite bbl-fr-4-move;
}

@keyframes bbl-bg-1-move {
    0% {
        left: 77px;
        top: 214px;
    }
    50% {
        left: 120px;
        top: 220px;
    }
    100% {
        left: 77px;
        top: 214px;
    }
}

@keyframes bbl-bg-2-move {
    0% {
        max-width: 112px;
        top: 318px;
        left: 197px;
    }
    25% {
        top: 335px;
        left: 215px;
    }
    50% {
        max-width: 150px;
        top: 305px;
        left: 175px;
    }
    75% {
        max-width: 90px;
        top: 320px;
        left: 165px;
    }
    100% {
        max-width: 112px;
        top: 318px;
        left: 197px;
    }
}

@keyframes bbl-bg-3-move {
    0% {
        top: 67px;
        left: 197px;
    }

    25% {
        top: 100px;
        left: 225px;
    }

    50% {
        top: 67px;
        left: 197px;
    }

    75% {
        top: 45px;
        left: 220px;
    }

    100% {
        top: 67px;
        left: 197px;
    }
}

@keyframes bbl-bg-4-move {
    0% {
        bottom: 119px;
        left: 250px;
    }
    25% {
        bottom: 105px;
        left: 265px;
    }
    50% {
        bottom: 135px;
        left: 275px;
    }
    75% {
        bottom: 105px;
        left: 265px;
    }
    100% {
        bottom: 119px;
        left: 250px;
    }
}

@keyframes bbl-fr-1-move {
    0% {
        top: 455px;
        left: 10px;
    }
    50% {
        top: 475px;
        left: 40px;
    }
    100% {
        top: 455px;
        left: 10px;
    }
}

@keyframes bbl-fr-2-move {
    0% {
        max-width: 138px;
        bottom: -70px;
        left: 186px;
    }
    50% {
        max-width: 100px;
        bottom: -80px;
        left: 240px;
    }
    100% {
        max-width: 138px;
        bottom: -70px;
        left: 186px;
    }
}

@keyframes bbl-fr-3-move {
    0% {
        top: 156px;
        left: 185px;
    }
    25% {
        top: 170px;
        left: 205px;
    }
    50% {
        top: 140px;
        left: 200px;
    }
    75% {
        top: 170px;
        left: 205px;
    }
    100% {
        top: 156px;
        left: 185px;
    }
}

@keyframes bbl-fr-4-move {
    0% {
        max-width: 74px;
        bottom: 140px;
        left: 25px;
    }
    50% {
        max-width: 54px;
        bottom: 125px;
        left: 60px;
    }
    100% {
        max-width: 74px;
        bottom: 140px;
        left: 25px;
    }
}