.slide-two {
    display: flex;
    flex-direction: column;
    position: relative;

    background-image: url("../images/slide-two/bg2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    padding-block-start: 129px;
    padding-inline-start: 66px;
}

.slide-two__title {
    width: 100%;
    max-width: 190px;

    font-family: 'dinpro_light', Arial, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 1.1;

    margin-block-end: 45px;
}

.slide-two__description {
    width: 100%;
    max-width: 824px;

    display: flex;
    justify-content: space-between;
    position: relative;
}

.slide-two__scrollbar {
    width: 400px;
    height: 5px;

    position: absolute;
    top: 245px;
    left: -187px;
    -webkit-appearance: none;

    transform: rotate(90deg);
}

.slide-two__scrollbar::-webkit-slider-runnable-track {
    width: 400px;
    height: 5px;

    background: #000;
    border-radius: 5px;
}

.slide-two__scrollbar::-webkit-slider-thumb {
    height: 105px;
    width: 21px;

    cursor: pointer;
    -webkit-appearance: none;

    background-image: url("../images/slide-two/scroll-thumb.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    margin-block-start: -50px;

    transform: rotate(90deg);
}

.slide-two__text-area {
    width: 100%;
    max-width: 777px;
    height: 446px;

    display: flex;
    justify-content: center;
    z-index: 2;

    background-color: #FFF;
    border-radius: 42px;

    box-shadow: -33px -27px 50px -13px rgba(31, 126, 169, 0.13),
    27px 33px 50px -13px rgba(31, 126, 169, 0.13);

    padding-block-start: 20px;
    padding-block-end: 32px;
    margin-inline-start: 52px;
}

.slide-two__text {
    width: 100%;
    max-width: 714px;

    font-family: 'dinpro', Arial, sans-serif;
    font-size: 24px;
    line-height: 1.25;

    overflow-y: scroll;
}

.slide-two__text::-webkit-scrollbar {
    display: none;
}

.slide-two__text_bold {
    font-family: 'dinpro_bold', Arial, sans-serif;
}

.slide-two__sperm-img {
    opacity: 0;
    visibility: hidden;
    transition: visibility 1.5s ease-in, opacity 1.5s ease-in;
}

.slide-two__sperm1-img {
    width: 100%;
    max-width: 245px;

    position: absolute;
    bottom: 134px;
    right: -107px;
    z-index: 1;
}

.slide-two__sperm2-img {
    width: 100%;
    max-width: 314px;

    position: absolute;
    top: 75px;
    right: 0;
    z-index: 1;
}

.slide-two__sperm3-img {
    width: 100%;
    max-width: 463px;

    position: absolute;
    bottom: 154px;
    right: -331px;
    z-index: 1;
}

.slide-two__sperm4-img {
    width: 100%;
    max-width: 656px;

    position: absolute;
    top: 101px;
    right: 0;
    z-index: 1;
}

.slide-two__sperm5-img {
    width: 100%;
    max-width: 440px;

    position: absolute;
    top: 98px;
    right: 0;
    z-index: 1;
}

@media (prefers-reduced-motion: no-preference) {
    .slide-two__sperm-animation {
        visibility: visible;
        opacity: 1;
        animation: 1.5s ease-in sperm-move;
    }
}

@keyframes sperm-move {
    from {
        transform: translate(50px, 20px);
    }
    to{
        transform: translate(0);
    }
}