.slide-two {
    display: flex;
    flex-direction: column;
    position: relative;

    background-image: url("../images/slide-two/bg2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    padding-block-start: 129px;
    padding-inline-start: 66px;
}

.slide-two__title {
    width: 100%;
    max-width: 190px;

    font-family: 'Montserrat-Light', Arial, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 1.1;

    margin-block-end: 45px;
}

.slide-two__description {
    width: 100%;
    max-width: 824px;

    display: flex;
    justify-content: space-between;
    position: relative;
}

.slide-two__scrollbar {
    width: 400px;
    height: 5px;

    position: absolute;
    top: 245px;
    left: -187px;
    -webkit-appearance: none;

    transform: rotate(90deg);
    touch-action: none;
}

.slide-two__scrollbar::-webkit-slider-runnable-track {
    width: 400px;
    height: 5px;

    background: #000;
    border-radius: 5px;
}

.slide-two__scrollbar::-webkit-slider-thumb {
    height: 105px;
    width: 21px;

    cursor: pointer;
    -webkit-appearance: none;

    background-image: url("../images/slide-two/scroll-thumb.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    margin-block-start: -50px;

    transform: rotate(90deg);
}

.slide-two__text-area {
    width: 100%;
    max-width: 777px;
    height: 446px;

    display: flex;
    justify-content: center;
    z-index: 2;

    background-color: #FFF;
    border-radius: 42px;

    box-shadow: -33px -27px 50px -13px rgba(31, 126, 169, 0.13),
    27px 33px 50px -13px rgba(31, 126, 169, 0.13);

    padding-block-start: 20px;
    padding-block-end: 30px;
    margin-inline-start: 52px;
}

.slide-two__text {
    width: 100%;
    max-width: 714px;

    font-family: 'Montserrat-Regular', Arial, sans-serif;
    font-size: 22px;
    line-height: 1.3;

    overflow-y: scroll;
}

.slide-two__text::-webkit-scrollbar {
    display: none;
}

.slide-two__text_bold {
    font-family: 'Montserrat-ExtraBold', Arial, sans-serif;
    color: #587B7F;
}

.slide-two__daisy-img {
    opacity: 0;
    visibility: hidden;
    transition: visibility 1.5s ease-in, opacity 1.5s ease-in;
}

.slide-two__daisy1-img {
    width: 100%;
    max-width: 270px;

    position: absolute;
    bottom: 134px;
    right: -107px;
    z-index: 1;
}

.slide-two__daisy2-img {
    width: 100%;
    max-width: 314px;

    position: absolute;
    top: 75px;
    right: -75px;
    z-index: 1;
}

.slide-two__daisy3-img {
    width: 100%;
    max-width: 420px;

    position: absolute;
    top: -110px;
    right: 185px;
    z-index: 1;
}

@media (prefers-reduced-motion: no-preference) {
    .slide-two__daisy-3-animation {
        visibility: visible;
        opacity: 1;
        animation: 1.5s ease-in daisy-move;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .slide-two__daisy-2-animation {
        visibility: visible;
        opacity: 1;
        animation: 1.5s ease-in daisy-move 0.4s;
        transition-delay: 0.5s;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .slide-two__daisy-1-animation {
        visibility: visible;
        opacity: 1;
        animation: 1.5s ease-in daisy-move 0.9s;
        transition-delay: 0.9s;
    }
}

@keyframes daisy-move {
    0% {
        transform: translate(50px, 20px);
    }
    100%{
        transform: translate(0);
    }
}