@import url('vendor/normalize.css');
@import url('vendor/fonts.css');
@import url('blocks/root/root.css');

.page {
    width: 100%;
    max-width: 1024px;
    height: 768px;

    position: relative;

    background-image: url("images/homepage/bg1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    font-family: 'Gilroy-Light', Arial, sans-serif;

    margin: 0 auto;
}

.page__content {
    width: 100%;
    max-width: 892px;
    min-height: 768px;

    margin: 0 auto;
}


/* HEADER */

.header {
    width: 100%;
}

.header__button {
    width: 100%;
    max-width: 150px;

    margin-block-start: 25px;
}


/* CONTENT */

.content {
    width: 100%;
    min-height: 380px;

    display: flex;
    flex-direction: column;

    margin-block-start: 107px;
    margin-block-end: 167px;
}

.content__slider {}

.slider-track {}

.slider-track__elem {}


/* SLIDE ONE */

.slide-one {
    width: 100%;
}

.slide-one__subtitle {
    width: 100%;

    margin-block-end: 21px;

    font-size: 30px;
    text-transform: uppercase;
}

.slide-one__title {
    width: 100%;

    font-size: 115px;
    text-transform: uppercase;
    line-height: 120px;
}

.slide-one__title-bold {
    font-family: 'Gilroy-ExtraBold', Arial, sans-serif;
}

.slide-one__button {
    width: 100%;
    max-width: 288px;

    position: absolute;
    top: 465px;
    right: 106px;

    display: block;
}

.slide-one__button-img {
    width: 100%;
    max-width: 288px;
}

.slide-one__sperm-img {
    width: 100%;
    max-width: 584px;
    min-height: 95px;

    position: absolute;
    top: 153px;
    left: 432px;
}

.slide-one__bakti1-img {
    width: 100%;
    max-width: 75px;
    min-height: 70px;

    position: absolute;
    top: 506px;
    left: 24px;
    z-index: -1;
}

.slide-one__bakti2-img {
    width: 100%;
    max-width: 64px;
    min-height: 55px;

    position: absolute;
    top: 60px;
    right: 215px;
}

.slide-one__spike1-img {
    width: 100%;
    max-width: 108px;
    min-height: 113px;

    position: absolute;
    top: 202px;
    right: 53px;
}

.slide-one__spike2-img {
    width: 100%;
    max-width: 227px;
    min-height: 126px;

    position: absolute;
    bottom: 0;
    right: 256px;
}

/* SLIDE TWO */

.slide-two {
    width: 100%;
}

.slide-two__title {}

.slide-two__text-area {}

.slide-two__scrollbar {}

.slide-two__text {}


/* FOOTER */

.footer {
    width: 100%;
}

.footer__logo {
    width: 100%;
    max-width: 55px;
}
